
body{

    background:url("https://images.unsplash.com/photo-1519669556878-63bdad8a1a49?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGdhbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    color:white
}
.container{
    border:4px groove white;
    width:50%;
    margin-top:100px;
    padding-left:100px;
}
p{
    color:white;
    width:800px;
    margin-top: 100px;
    font-weight: 500;
    font-size: 2rem;
    border:2px solid violet;
    margin-left:400px;
    padding-left: 55px;
    box-shadow: 5px 5px 5px 5px white;
}